* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: yellow;
}
header {
    background-color: black;
    color: yellow;
    text-align: center;
    padding: 20px;
    text-shadow: 1px 2px 8px rgba(143, 153, 4, 0.747);
}
main {
    max-width: 80vw;
    margin: auto;
    height: 87vh;
    background-color: white;
    text-align: center;
}
div {
    margin: 10px;
    display: inline-flex;
    border: 2px solid black;
    padding: 7px;
    border-radius: 10px;
    height: 300px;
}
