* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-image: linear-gradient(45deg, rgb(0, 102, 255), rgb(1, 1, 129));
    display: grid;
    place-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    background-color: white;
    padding: 15px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.354);
}
main p {
    margin: 15px;
}
#r1, #r2, #r3, #r4 {
    margin-left: 5px;
}
h1 {
    margin-bottom: 30px;
    font-size: 2.3em;
    color: white;
}
#input {
    width: 60px;
    border-radius: 10px;
    border: 1px solid black;
}
img {
    margin: 15px auto;
    display: block;
    width: 160px;
    border-radius: 50%;
    height: 250px;
}
div {
    display: block;
}
div p {
    text-align: center;
}
button {
    margin-bottom: 10px;
}

